<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Load Spring Boot default color converters -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Pattern có ANSI màu đầy đủ -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %-40.40clr(%logger{36}){cyan} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
